*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
    background-image: linear-gradient(#f1d8ef 0%, #f1d7c1 100%);
}

.canvas
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}
